.blog-background-nav {
    background-color: #434630!important;;
}
.blog-background-nav-purple {
    background-color: #2e0129!important;;
}
/*
@media (min-width: 768px) and (max-width: 1000px) {
    .collapse {
        display: none !important;
    }

 }

 */

 .custom-navbar{
    opacity: .95;
 }