<div class="site-content container">
  <table>
    <tbody>
    <tr>
      <td i18n>
        title:
      </td>
      <td>
        <input #textbox type="text" [(ngModel)]="title" />
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <input type="checkbox" [checked]="hidden" (change)="onChangeHidden()" /> <span i18n>Hidden entry</span>
  <br>


  <br>
  <input type="submit" class="btn btn-primary" (click)="onPostButton()" value="Post" /> &nbsp;
  <p></p>

  <br>

  <div *ngIf="entryDTO">
    <input class="btn btn-danger" type="submit" (click)="onDeleteButton()" value="Delete entry" i18n/>
  </div>

  <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="entryDTO.content"></app-ngx-editor>




</div>
